#container{
	width: 450px;
    margin: 20px auto;
    padding-bottom: 20px;
}
.friend-container{
	width: 430px;
    margin: 0 10px;
}
table{
    margin: 0 10px;
    width: 410px;
}
.data{
	width: 260px;
	font-size: 25px;
}
#container h1{
	text-align: center;
}
.label{
	color: purple;
	font-size: 25px;
}
#form-container{
	width: 430px;
    margin: 0 10px;
}
#nameinput{
	margin-left: 20px;
    font-size: 20px
}
#lastinput{
	margin-left: 22px;
    font-size: 20px
}
#occinput{
	margin-left: 10px;
    font-size: 20px
}
#friendbutton{
    margin-top: 20px;
    height: 40px;
    width: 430px;
    border-radius: 15px;
    background-color: #79d068;
    font-size: 20px;	
}